<form [formGroup]="form">
    <label class="center-block" [ngClass]="{'required' : required}">{{label}}</label>
    <div class="form-check" *ngFor="let currentData of asAbstractControl(form.controls[controlName]).controls; let i = index">
        <label class="form-check-label" [formArrayName]="controlName">
            <mat-checkbox [formControlName]="i" [checked]="currentData.value.checked" [name]="data[i].label"
                [value]="data[i].value" (change)="onCheckboxChange($event)">{{data[i].label}}</mat-checkbox>
        </label>
    </div>
</form>