<div class="jumbotron">
    <fieldset class="form-group">
        <legend>{{adForm.legendLabel}}</legend>
        <br />
        <form [formGroup]="form" novalidate>
            <div class="form-row" *ngFor="let currentRow of adForm.rows">
                <div class="form-group" *ngFor="let currentComponent of currentRow.lstComponent;"
                    [ngClass]="getClass(currentRow.nbreComponent)">
                    <label class="center-block" [ngClass]="{'required' : currentComponent.required}" [for]="currentComponent.controlName">{{currentComponent.label}}</label>
                    <app-ad [ads]="currentComponent" [form]="form" [displayFieldCss]="displayFieldCss"></app-ad>
                </div>
            </div>

            <div class="form-row">
                <button class="btn btn-secondary" (click)="reset()">Cancel</button>
                <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">{{adForm.submitLabel}}</button>
            </div>
        </form>
    </fieldset>
</div>